* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(23, 4, 129, 0.445);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* Navbar Styles */

.navbar {
  background: #000000;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  z-index: 1;
  width: 100%;
  padding: 0 40px;
  max-width: 1300px;
  margin: 0 auto;
}
#navbar__logo {
  background-color: #000000;
  background-image: linear-gradient(to top, #31ff08 20%, #ffffff 80%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 3rem;
}


#navbar__logo:hover {
  background-image: linear-gradient(to top, #ffffff 20%, #31ff08 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  transition: background-image 0.3s ease;
}
.fa-gem {
  margin-right: 0.5rem;
}


.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__links {
  color: #33ff00;
  background-color: #56df08;
  background-size: size 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.navbar__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  width: 100%;
}


/* Button Styles */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 4px;
  background: #08ff31;
  color: rgb(0, 0, 0);
}

.button:hover {
  background: #ffffff;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  /* Hover effect for navbar links */
  background: none;
  -webkit-background-clip: initial; /* Reset background clip */
  -webkit-text-fill-color: rgb(51, 255, 0); /* Change text color on hover */
  -moz-background-clip: initial;
  -moz-text-fill-color: aqua;
  size: 200%;
  color: aqua;
  transition: all 0.3s ease;
  font-size: 30px;
}
@media screen and (max-width: 960px) {
  /* Responsive styles for screens 960px and below */
  .navbar__container {
    display: flex;
    justify-content: space-between; /* Ensure space between items */
    align-items: center;
    height: 80px;
    z-index: 1;
    width: 100%;
    padding: 0 20px;
    max-width: 1300px;
    margin: 0 auto;
  .navbar__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
    position: absolute;
    left: 0;
    top: -1000px; /* Hide the menu off-screen */
    opacity: 0; /* Make it invisible */
    transition: all 0.5s ease; /* Smooth transition */
    height: 100vh;
    z-index: -1;
    background: #131313;
  }

  .navbar__menu.active {
    background: #131313;
    top: 100px;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    height: calc(100vh - 100px); /* full screen minus navbar height */
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
    z-index: 1;
      height: calc(100vh - 100px); /* full screen minus navbar height */
    font-size: 1.5rem;
  }

  #navbar__logo {
    padding-left: 25px;
    padding-top: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease;
    background: #ff0000;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
    cursor: pointer;
    width: 40px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

 

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    margin: 0;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease;
    background: #ff0000;
    display: block;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

body {
  background-color: green;
}


.text {
    margin-top: 100px;
    background-color:rgb(255, 0, 34); 
    
}

.text h1{
    font-size: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Copperplate Gothic;
    line-height: 1.2em;
}

.text h2{
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: monospace;
    padding-bottom: 20px;
}


/*--------- revolver page -----------*/
.GunS{
    height: 60vh;
    width: auto;
    background:url(../imgahenes/revolver.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color:blanchedalmond;
    font-family: impact;
}


.GunS h1{
    text-align: left;
    padding-top: 300px;
    font-size: 80px;
    padding-left: 10px;    
}


/*--------- images and texts -----------*/

.revolvers{
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    text-align: center;
    color: aliceblue;
    font-family: Copperplate Gothic;
}

.revolvers img{
    height: 350px;
    width: 540px;
}

.revolvers h1{
background-color: brown;
border-style: outset;

}
